.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* #content-container::before{
  height: 84px !important;
} */
#mainnav-menu>li>a.active {
  color: #fff;
  font-weight: 600;
  background-color: #25476a;
  margin: 0 5px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 3px;
}

a{
  text-decoration: none !important;
}